body {
  font-family: "Avenir Next";
  text-align: center;
  background-image: url("mainhaikei.png");
	
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

iframe {
  width: 100%; /* 親要素の幅と合わせる */
  height: 150px;
  max-width: 100%; /* 親要素の幅以下に */
	border: none;
}

li {
  list-style: none;
}
